@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

* {
    font-family: sans-serif;
    box-sizing: border-box;
    border-collapse: collapse;
}

html,
body {
    height: 100%;
}

html {
    padding: 1em;
}

a,
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

/* FlexDoc */

[fd^=branch] {
    gap: 8px;
}

[fd^=leaf] {
    border: 1px solid rgba(128, 128, 128, 0.25);
    background: rgba(128, 128, 128, 0.125);
    border-radius: 4px;
    padding: 4px;
}

/* JTable */

[jt=jtable] {
    width: 100%;
}

[jt=jtable] tr:nth-of-type(even) {
    background: rgba(128, 128, 128, 0.1);
}

[jt=jtable] tr {
    padding: 2px;
}

/* UnitSwitcher */

[usw=container] {
    cursor: pointer;
}

[usw=value] {
    font-weight: bold;
}

[usw=units] {
    font-size: 0.75em;
    vertical-align: text-top;
    margin-left: 2px;
}

[usw=container]:hover [usw=units] {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }

    a,
    a:link,
    a:visited {
        color: cyan;
    }

    a:active {
        color: pink;
    }
}