@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

:root {
    --red: 128;
    --green: 128;
    --blue: 128;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    border-collapse: collapse;
    outline: none;
}

html,
body {
    height: 100%;
}

html {
    padding: 1em;
}

a,
a:link,
a:visited {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

img {
    display: block;
    max-width: 100%;
    /* temporary max-height */
    max-height: 10em;
    height: auto;
    margin: auto;
}

input[type=text] {
    width: 100%;
}

button {
    cursor: pointer;
    font-weight: bold;
    color: white;
    border: 0;
}

button:disabled {
    background: gray !important;
    cursor: not-allowed;
}

button[title^=Close] {
    float: right;
    background: tomato;
}

button[title^=Close]:hover {
    background: crimson;
}

button[title^=Close]:active {
    background: maroon;
}

button[title^=Go] {
    background: sandybrown;
}

button[title^=Go]:hover {
    background: peru;
}

button[title^=Go]:active {
    background: saddlebrown;
}

button[title^=Add],
button[title^=Check] {
    background: lightseagreen;
}

button[title^=Add]:hover,
button[title^=Check]:hover {
    background: mediumseagreen;
}

button[title^=Add]:active,
button[title^=Check]:active {
    background: seagreen;
}

div.floorPlanControls {
    position: absolute;
}

div.floorPlanControls span {
    margin: 0 4px;
}

/* FlexDoc */

[fd^=branch] {
    gap: 8px;
}

[fd^=leaf] {
    border: 1px solid rgba(var(--red), var(--green), var(--blue), 0.25);
    background: rgba(var(--red), var(--green), var(--blue), 0.125);
    border-radius: 4px;
    padding: 4px;
}

/* JTable */

[jt=jtable] {
    width: 100%;
}

[jt=jtable] tr:nth-of-type(even) {
    background: rgba(var(--red), var(--green), var(--blue), 0.1);
}

[jt=jtable] tr {
    padding: 2px;
}

/* UnitSwitcher */

[usw=container] {
    cursor: pointer;
}

[usw=value] {
    font-weight: bold;
}

[usw=units] {
    font-size: 0.75em;
    vertical-align: text-top;
    margin-left: 2px;
}

[usw=container]:hover [usw=units] {
    text-decoration: underline;
}

/* SVG */

svg {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
}

svg path {
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
    fill: white;
}

svg path:hover {
    cursor: pointer;
    fill: yellow;
}

svg path:active {
    fill: gold;
}

/* Dark Theme */

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }

    a,
    a:link,
    a:visited {
        color: cyan;
    }

    a:active {
        color: pink;
    }

    svg path {
        stroke: white;
        fill: black;
    }

    svg path:hover {
        fill: brown;
    }

    svg path:active {
        fill: sienna;
    }
}